<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
<p>
    Hello, {{.Nickname}}!
</p>
    <button id="logout-btn">Log Out</button>
<div>
    <label>Chats:</label>
    <ul id="chats">

    </ul>

    <label id="chat-caption">Select chat</label>
    <ul id="messages">

    </ul>
    <div id="sender">
        <input type="text" id="message-inp" placeholder="message...">
        <button id="send-btn">Send</button>
    </div>
</div>
</body>
</html>
