<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gossenger</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gossenger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Messaging</a></li>
                <li><a href="/users_page">Users search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="navbar-text"><strong>{{ .FirstName }} {{ .LastName }} aka {{ .Nickname }}</strong></span></li>
                <li><a href="" id="logout-el">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-4">
        <h2></h2>
        <div>
            <h2 style="display: inline">Chats  </h2>
            <a style="cursor: pointer" id="show-create-chat-btn-2">
                <span style="font-size: 45px" class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="chats-content" id="chats">

        </div>
    </div>
    <div class="col-md-5">
        <h2 id="main-content-title">Messages</h2>
        <div id="chat-creating" style="display: none">
            <div class="input-group" id="new-chat-box">
                <input class="form-control" id="new-chat-title-inp" placeholder="New chat title...">
                <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="create-chat-btn">Create</button>
                    </span>
            </div>

            <div class="search-user-box">
                <table class="table table-hover">
                    <tbody id="picked-users">
                    </tbody>
                </table>
            </div>

            <div class="form-group" id="chat-creating-search">
                <label for="search-users-inp">Search users</label>
                <input class="form-control" id="search-users-inp" type="text" placeholder="Input name or nick">
            </div>
            <div class="search-user-box">
                <table class="table table-hover">
                    <tbody id="search-table">
                    </tbody>
                </table>
            </div>
        </div>
        <p id="prompt">
            Select a chat to view messages or <a id="show-create-chat-btn-1" style="cursor: pointer">create</a> a new one.
        </p>
        <div class="messages-content" id="messages">
        </div>
        <div class="input-group" id="sender" style="display: none">
            <textarea class="form-control" id="message-inp" placeholder="Message..."></textarea>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" id="send-btn">Send</button>
            </span>
        </div>
    </div>
    <div class="col-md-3" id="info-content" style="display: none">
        <h2>Chat Members</h2>
        <table class="table table-hover table-bordered">
            <tbody id="info-table">
            <tr>
                <td>Full Name</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>
