<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/registerPage.js"></script>
</head>
<body>
<div>
    <form id="register-form">
        <label>Register</label><br>
        <input type="text" id="username-inp" placeholder="Username">
        <input type="password" id="password-inp" placeholder="Password"><br>
        <input type="text" id="first-name-inp" placeholder="First name"><br>
        <input type="text" id="last-name-inp" placeholder="Last name"><br>

        <button id="register-btn">Register</button>
        <button id="login-page-btn">Go to login Page</button>
        <br>
    </form>
</div>
</body>
</html>
