<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Search</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/users.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Gossenger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Messaging</a></li>
                <li class="active"><a href="/users_page">Users search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="navbar-text"><strong>{{ .Logged.FirstName }} {{ .Logged.LastName }}</strong> aka <strong>{{ .Logged.Nickname }}</strong></span></li>
                <li><a href="" id="logout-el">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <input id="users-filter-fld" class="form-control" type="text" placeholder="Search" aria-label="Search">

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col"><a href="">First Name</a></th>
                <th scope="col"><a href="">Last Name</a></th>
                <th scope="col"><a href="">Nickname</a></th>
            </tr>
            </thead>
            <tbody id="users">
{{/*            {{ range .Users }}*/}}
{{/*                <tr>*/}}
{{/*                    <td>{{ .FirstName }}</td>*/}}
{{/*                    <td>{{ .LastName }}</td>*/}}
{{/*                    <td><a href="/user_page?user_id={{ .ID }}">{{ .Nickname }}</a></td>*/}}
{{/*                </tr>*/}}
{{/*            {{ end }}*/}}
            </tbody>
        </table>
    </div>
</div></body>
</html>
